.student-create-account-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.student-create-account {
  display: flex;
  flex-direction: column;
}
.input-container-username-student {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.student-account-btn {
  margin-top: 20px;
  text-align: center;
}
.student-create-btn {
  color: white;
  background-color: #0284c7;
  padding: 4px;
  border: 0;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  cursor: pointer;
}
.student-signup-heading {
  font-size: 20px;
  color: #0284c7;
}
.student-back {
  background-color: #0284c7;
  color: white;
  padding: 4px;
  border: 0;
  width: 60px;
}
