.question-answer-container {
  height: 100vh;
  overflow-y: auto;
  border-radius: 6px;
  border: 2px solid brown;
  margin-top: 80px;
  display: flex;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  min-height: 30px;
  width: 500px;
  align-items: center;
}

@media (max-width: 660px) {
  .para {
    font-size: 12px;
    width: 150px;
  }
  .choose-container {
    width: 60px;
    font-size: 12px;
    margin: 2px;
  }
}
